.thispagination .ant-table-pagination-right{
	float: left;
}

.searcherbutton .ant-btn{
	background: rgba(0, 0, 0, 0.08);
}

.subpageTitle{
	font-size: xx-large;
	margin-top: 10px;
	
}

.subpageTitle_detail{
	font-size: xx-large;
	margin-top: 10px;
	margin-left:70px; 
}

.searchandadd{
	display:inline-block;
	width: 100%;
}

.searcher{
	display: inline-block;
}
	
.addbtn{
	margin-left: 500px;
}

.paraddbtn .addbtn{
	background: #ebebeb;
}
